<% extend 'layout/base' %>

<div class="p-auth__wrapper">
  <div class="p-auth__inner">
    <h1 class="p-auth__title">Login</h1>

    <form action="/login" method="POST">
      <ul class="p-auth__form">
        <li>
          <p class="p-auth__form__title">User ID</p>
          <p><input class="p-auth__input" type="text" name="userId" value="<%= @input_id %>" required></p>
        </li>
        <li>
          <p class="p-auth__form__title">Password</p>
          <p><input class="p-auth__input" type="password" name="password" value="<%= @input_password %>" required></p>
        </li>
      </ul>

      <p class="p-auth__error"><%= @error %></p>

      <input class="p-auth__submit u-hover" type="submit" value="Send">
    </form>
  </div>
</div>
