<% extend 'layout/base' %>

<div class="wrapper">
  <div class="main">
    <div class="p-canvas">
      <p class="p-canvas__name">
        <input class="js-user-name" type="hidden" value="<%= @userId %>">
        <input class="js-user-password" type="hidden" value="<%= @userPassword %>">
      </p>

      <canvas id="js-canvas"></canvas>
    </div>
  </div>

  <div class="p-chat">
    <div class="p-chat__inner js-chat">
      <div class="p-chat__box">
        <ul class="p-chat__list js-chat-list"></ul>
      </div>
    </div>

    <form class="p-chat__comment js-chat-form">
      <div class="p-chat__comment__txt"><input class="p-chat__comment__txt__input" name="comment" type="text" placeholder="チャットを送る…" autocomplete="off"></div>
      <input class="p-chat__comment__btn" type="submit" value="送信">
    </form>
  </div>
</div>

<% block 'scripts' : %>
  <script src="/javascripts/bundle.js"></script>
<% end %>
