/*-------------------------------------//
//  Entrance
//-------------------------------------*/

.p-entrance__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #666;
}
.p-entrance__box {
  display: inline-block;
  padding: 20px;
  background-color: #222;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .6);
  color: #fff;
}
.p-entrance__title {
  margin-bottom: 20px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #ccc;
  font-size: calc($font-size-xl + 4px);
  text-align: center;
}
.p-entrance__list {
  overflow-y: scroll;
  width: 300px;
  max-height: 500px;

  & > li {
    display: table;
    width: 100%;
    padding: 10px 0;
  }
}
.p-entrance__list__title,
.p-entrance__list__body {
  display: table-cell;
  vertical-align: middle;
}
.p-entrance__list__body { text-align: right; }
.p-entrance__list__count {
  display: inline-block;
  margin-right: 10px;
}
.p-entrance__list__link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #2244aa;
  font-size: $font-size-m;
  transition: background-color .4s;

  &:hover { background-color: #2270AA; }
}
.p-entrance__error {
  color: #E45858;
  font-size: $font-size-s;
  line-height: 18px;
}
