/*-------------------------------------//
//  Room
//-------------------------------------*/

.p-room {
  display: flex;
  width: 100%;
}
.p-room__main {
  flex: 1;
  height: 100%;
  border: 5px solid #222;
}
