/*-------------------------------------//
//  Main
//-------------------------------------*/

#app,
.container { height: 100%; }
.wrapper {
  display: flex;
  height: calc(100% - $header-height);
}
.main {
  flex: 1;
  height: 100%;
  border: 5px solid #222;
}
